.logo {
    max-width: 300px;
    width: 100%; /* Make it responsive */
    padding: 20px; /* Adjust padding as needed */
    display: block; /* Center or align as needed */
    margin: 0 auto; /* Center the logo */
}